<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.takusemba.exobook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SampleChooserActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extension.ImaSampleActivity"
            android:theme="@style/AppTheme.Player" />
        <activity
            android:name=".extension.CastSampleActivity"
            android:theme="@style/AppTheme.Player.WithActionBar" />
        <activity
            android:name=".extension.MediaSessionSampleActivity"
            android:theme="@style/AppTheme.Player.WithActionBar" />
        <activity
            android:name=".extension.NetworkSampleActivity"
            android:theme="@style/AppTheme.Player" />
        <activity
            android:name=".extension.CodecSampleActivity"
            android:theme="@style/AppTheme.Player" />
        <activity
            android:name=".extension.SchedulerSampleActivity"
            android:theme="@style/AppTheme.Player.WithActionBar" />
        <activity
            android:name=".extension.RtmpSampleActivity"
            android:theme="@style/AppTheme.Player" />
        <activity
            android:name=".extension.LeanbackSampleActivity"
            android:theme="@style/AppTheme.Player" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

        <service android:name=".extension.MediaSessionSampleService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service android:name=".extension.SchedulerSampleService" />
    </application>

</manifest>